<div class="container col-md-6 col-md-offset-3">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav navbar-left">
      <li id="nav-header">{{#link-to 'inbox'}}Home{{/link-to}}</li>
    </ul>
    <ul class="nav navbar-nav navbar pull-right">
      <li>{{#link-to 'inbox'}}Inbox{{/link-to}}</li>
      <li>{{#link-to 'sent'}}Sent{{/link-to}}</li>
      <li>{{#link-to 'new-sent'}}Compose{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}

</div>
