<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav navbar-left">
      <li id="nav-header">Home</li>
    </ul>
    <ul class="nav navbar-nav navbar pull-right">
      <li>Inbox</li>
      <li>Sent</li>
      <li>Compose</li>
    </ul>
  </nav>

  {{outlet}}

</div>
