<div class="panel panel-default">
  <div class="panel-heading">{{senderSubject}}</div>
  <div class="panel-body">
    <h4><b>Email Address:</b>&nbsp;&nbsp;{{senderEmail}}</h4>
    <h4><b>Subject:</b>&nbsp;&nbsp;{{senderSubject}}</h4>
    <div class="panel-body">
      <h4>{{senderBody}}</h4>
    </div>
  </div>
</div>

{{#link-to 'new-inbox' class="btn"}}Compose{{/link-to}}
