<div class="panel panel-default">
  <div class="panel-heading">{{senderSubject}}</div>
  <div class="panel-body">
    <p><b>From:</b>&nbsp;&nbsp;{{senderEmail}}</p>
    <p><b>Subject:</b>&nbsp;&nbsp;{{senderSubject}}</p>
    <hr>
    {{senderBody}}
  </div>
</div>

{{#link-to 'new-inbox' class="btn"}}Compose{{/link-to}}
