<div class="panel panel-default">
  <div class="panel-heading">Inbox</div>
  <div class="panel-body">
    <ul>
      {{#each inbox in model}}
        <div class="col-md-4">
          <li>
            {{#link-to 'inbox-message' inbox}} {{inbox.senderEmail}}, {{inbox.senderSubject}}{{/link-to}}
          </li>
        </div>
      {{/each}}
    </ul>
  </div>
</div>

{{#link-to 'new-inbox' class="btn btn-primary"}}Compose{{/link-to}}
