<div class="panel panel-default">
  <div class="panel-heading">Inbox</div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>From</th>
          <th>Subject</th>
        </tr>
      </thead>
      <tbody>
      {{#each inbox in model}}
      <tr>
        <td class="email">{{#link-to 'inbox-message' inbox}}{{inbox.senderEmail}}{{/link-to}}</td>
        <td>{{#link-to 'inbox-message' inbox}}{{inbox.senderSubject}}{{/link-to}}</td>
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{#link-to 'new-inbox' class="btn btn-primary"}}Compose{{/link-to}}
