<div class="panel panel-default">
  <div class="panel-heading">{{sentSubject}}</div>
  <div class="panel-body">
    <p><b>To:</b>&nbsp;&nbsp;{{sentEmail}}</p>
    <p><b>Subject:</b>&nbsp;&nbsp;{{sentSubject}}</p>
    <hr>
    <p>{{sentBody}}</p>
  </div>
</div>

{{#link-to 'new-sent' class="btn"}}Compose{{/link-to}}
