<div class="panel panel-default">
  <div class="panel-heading">Sent</div>
  <div class="panel-body">
    <ul>
      {{#each sent in model}}
        <div class="col-md-4">
          <li>
            {{#link-to 'sent-message' sent}}{{sent.sentEmail}}, {{sent.sentSubject}}{{/link-to}}
          </li>
        </div>
      {{/each}}
    </ul>
  </div>
</div>

{{#link-to 'new-sent' class="btn btn-primary"}}Compose{{/link-to}}
