<div class="panel panel-default">
  <div class="panel-heading">Sent</div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>To</th>
          <th>Subject</th>
        </tr>
      </thead>
      <tbody>
      {{#each sent in model}}
        <tr>
          <td class="email">{{#link-to 'sent-message' sent}}{{sent.sentEmail}}{{/link-to}}</td>
          <td>{{#link-to 'sent-message' sent}}{{sent.sentSubject}}{{/link-to}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{#link-to 'new-sent' class="btn btn-primary"}}Compose{{/link-to}}
