<div class="panel panel-default">
  <div class="panel-heading">{{sentSubject}}</div>
  <div class="panel-body">
    <h4><b>To:</b>&nbsp;&nbsp;{{sentEmail}}</h4>
    <h4><b>Subject:</b>&nbsp;&nbsp;{{sentSubject}}</h4>
    <div class="panel-body">
      <h4>{{sentBody}}</h4>
    </div>
  </div>
</div>

{{#link-to 'new-sent' class="btn"}}Compose{{/link-to}}
